<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sarva-Varadi Selenium Demo Suite">
    <listeners>
        <listener class-name="io.github.yoggit.SarvaVaradiSeleniumListener"/>
    </listeners>

    <test name="Demo Tests">
        <classes>
            <class name="com.example.selenium.tests.DemoTests"/>
        </classes>
    </test>
</suite>
